### Combining the 2019 data for Citibike trips

In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:

files = glob.glob('tripdata/2019/*.csv')
files

['tripdata/2019\\201901-citibike-tripdata.csv',
 'tripdata/2019\\201902-citibike-tripdata.csv',
 'tripdata/2019\\201903-citibike-tripdata.csv',
 'tripdata/2019\\201904-citibike-tripdata.csv',
 'tripdata/2019\\201905-citibike-tripdata.csv']

### Reading trip data from all the csv and getting in dataframe

In [3]:
df_tripdata2019 = pd.concat([pd.read_csv(f) for f in glob.glob('tripdata/2019/*.csv')], ignore_index=True)

# df_tripdata2018=pd.read_csv(filepath)
df_tripdata2019.head(20)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
5,535,2019-01-01 00:08:33.1790,2019-01-01 00:17:28.3540,3630.0,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3529.0,Lenox Ave & W 130 St,40.810792,-73.943068,30315,Subscriber,1989,2
6,280,2019-01-01 00:09:21.0060,2019-01-01 00:14:01.1510,3675.0,3 Ave & E 95 St,40.784597,-73.949685,3288.0,E 88 St & 1 Ave,40.778301,-73.948813,35391,Subscriber,1987,1
7,1547,2019-01-01 00:11:22.9070,2019-01-01 00:37:10.0550,285.0,Broadway & E 14 St,40.734546,-73.990741,3358.0,Garfield Pl & 8 Ave,40.671198,-73.974841,35551,Subscriber,1981,1
8,300,2019-01-01 00:12:17.9310,2019-01-01 00:17:18.8300,3394.0,Columbia St & W 9 St,40.676999,-74.006471,3398.0,Smith St & 9 St,40.674696,-73.997858,18636,Subscriber,1990,2
9,123,2019-01-01 00:12:19.6030,2019-01-01 00:14:23.1040,432.0,E 7 St & Avenue A,40.726218,-73.983799,3656.0,E 2 St & Avenue A,40.723077,-73.985836,35206,Subscriber,1987,1
10,932,2019-01-01 00:14:02.7970,2019-01-01 00:29:35.0450,379.0,W 31 St & 7 Ave,40.749156,-73.991600,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,35148,Subscriber,1986,1
11,209,2019-01-01 00:15:09.9730,2019-01-01 00:18:39.0110,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,301.0,E 2 St & Avenue B,40.722174,-73.983688,34416,Subscriber,1998,2
12,976,2019-01-01 00:15:12.8890,2019-01-01 00:31:29.1450,3452.0,Bayard St & Leonard St,40.719156,-73.948854,251.0,Mott St & Prince St,40.723180,-73.994800,35685,Subscriber,1994,1
13,97,2019-01-01 00:15:40.0140,2019-01-01 00:17:17.3120,3430.0,Richardson St & N Henry St,40.719079,-73.942237,3095.0,Graham Ave & Herbert St,40.719293,-73.945004,34307,Subscriber,1988,1
14,467,2019-01-01 00:16:22.9480,2019-01-01 00:24:10.5430,507.0,E 25 St & 2 Ave,40.739126,-73.979738,492.0,W 33 St & 7 Ave,40.750200,-73.990931,35561,Subscriber,1989,1
15,348,2019-01-01 00:17:28.9820,2019-01-01 00:23:17.6080,3095.0,Graham Ave & Herbert St,40.719293,-73.945004,3101.0,N 12 St & Bedford Ave,40.720798,-73.954847,35695,Subscriber,1988,1
16,505,2019-01-01 00:18:45.1180,2019-01-01 00:27:10.5990,3132.0,E 59 St & Madison Ave,40.763505,-73.971092,359.0,E 47 St & Park Ave,40.755103,-73.974987,31801,Subscriber,1981,1
17,3494,2019-01-01 00:18:57.5640,2019-01-01 01:17:11.5700,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3164.0,Columbus Ave & W 72 St,40.777057,-73.978985,35785,Subscriber,1954,1
18,829,2019-01-01 00:19:08.1030,2019-01-01 00:32:57.3880,3165.0,Central Park West & W 72 St,40.775794,-73.976206,3295.0,Central Park W & W 96 St,40.791270,-73.964839,32106,Subscriber,1969,0
19,451,2019-01-01 00:21:00.6320,2019-01-01 00:28:31.9450,403.0,E 2 St & 2 Ave,40.725029,-73.990697,545.0,E 23 St & 1 Ave,40.736502,-73.978095,32038,Subscriber,1985,1

In [4]:
df_tripdata2019.shape

(6929648, 15)

### Writing data to csv for Tabelau Analysis

In [5]:
df_tripdata2019.to_csv('tripdata/2019/combined_2019.csv')

### Combining the Ridership Data for 2019

In [6]:
file_riderdata=glob.glob('RidershipdataLaunch-2019q2/*/*.csv')
file_riderdata

['RidershipdataLaunch-2019q2\\2013_launch\\data-0FwJZ.csv',
 'RidershipdataLaunch-2019q2\\2013_launch\\data-pe6k4.csv',
 'RidershipdataLaunch-2019q2\\2014\\data-0Si1U.csv',
 'RidershipdataLaunch-2019q2\\2014\\data-1hJ2T.csv',
 'RidershipdataLaunch-2019q2\\2014\\data-dhq4m.csv',
 'RidershipdataLaunch-2019q2\\2014\\data-SGjhr.csv',
 'RidershipdataLaunch-2019q2\\2015\\data-dVCP4.csv',
 'RidershipdataLaunch-2019q2\\2015\\data-jMx9R.csv',
 'RidershipdataLaunch-2019q2\\2015\\data-rNb8Y.csv',
 'RidershipdataLaunch-2019q2\\2015\\data-xEsQz.csv',
 'RidershipdataLaunch-2019q2\\2016\\data-8eZnB.csv',
 'RidershipdataLaunch-2019q2\\2016\\data-gRmSF.csv',
 'RidershipdataLaunch-2019q2\\2016\\data-rreHM.csv',
 'RidershipdataLaunch-2019q2\\2016\\data-xXpEp.csv',
 'RidershipdataLaunch-2019q2\\2017\\data-33zqP.csv',
 'RidershipdataLaunch-2019q2\\2017\\data-9KAuN.csv',
 'RidershipdataLaunch-2019q2\\2017\\data-K8j0z.csv',
 'RidershipdataLaunch-2019q2\\2017\\data-Whjsi.csv',
 'RidershipdataLaunch-2019q2\\2018\\data-7OLX8.csv',
 'RidershipdataLaunch-2019q2\\2018\\data-FKjZg.csv',
 'RidershipdataLaunch-2019q2\\2018\\data-pRAtm.csv',
 'RidershipdataLaunch-2019q2\\2018\\data-tqNn6.csv',
 'RidershipdataLaunch-2019q2\\2019\\data-cZMp8.csv',
 'RidershipdataLaunch-2019q2\\2019\\data-MM5kM.csv',
 'RidershipdataLaunch-2019q2\\2019\\rider_combined.csv']

In [7]:
df_riderData = pd.concat([pd.read_csv(f) for f in glob.glob('RidershipdataLaunch-2019q2/*/*.csv')], ignore_index=True)
df_riderData

C:\Users\swari\AppData\Local\Continuum\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,24-Hour Passes Purchased (midnight to 11:59 pm),24-Hour Passes Purchased (midnight to 11:59 pm) 7-Day Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),7-Day Passes Purchased (midnight to 11:59 pm),Annual Member Sign-Ups (midnight to 11:59 pm),Column 1,Cumulative trips (since launch),Cumulative trips (since launch):,Date,Miles traveled to date,Miles traveled to date:,Miles traveled today (midnight to 11:59 pm),Total Annual Members,Total Annual Members (All Time),Total Annual Memberships Sold,Trips over the past 24-hours (midnight to 11:59pm),Unnamed: 0
0,NaN,1004.0,NaN,NaN,258,NaN,NaN,4013952,10/1/2013,NaN,"7,713,294",73.665,85494.0,NaN,NaN,44772,NaN
1,NaN,1129.0,NaN,NaN,279,NaN,NaN,4059619,10/2/2013,NaN,"7,789,442",76.149,85773.0,NaN,NaN,45667,NaN
2,NaN,1076.0,NaN,NaN,560,NaN,NaN,4104091,10/3/2013,NaN,"7,862,077",72.635,86333.0,NaN,NaN,44472,NaN
3,NaN,1434.0,NaN,NaN,779,NaN,NaN,4148180,10/4/2013,NaN,"7,936,300",74.223,87112.0,NaN,NaN,44089,NaN
4,NaN,2971.0,NaN,NaN,750,NaN,NaN,4185863,10/5/2013,NaN,"8,010,192",73.892,87862.0,NaN,NaN,37683,NaN
5,NaN,1368.0,NaN,NaN,742,NaN,NaN,4214892,10/6/2013,NaN,"8,060,079",49.887,88604.0,NaN,NaN,29029,NaN
6,NaN,421.0,NaN,NaN,585,NaN,NaN,4242396,10/7/2013,NaN,"8,100,403",40.324,89189.0,NaN,NaN,27504,NaN
7,NaN,896.0,NaN,NaN,332,NaN,NaN,4284596,10/8/2013,NaN,"8,169,518",69.116,89521.0,NaN,NaN,42200,NaN
8,NaN,714.0,NaN,NaN,248,NaN,NaN,4325203,10/9/2013,NaN,"8,231,732",62.214,89769.0,NaN,NaN,40607,NaN
9,NaN,482.0,NaN,NaN,182,NaN,NaN,4359310,10/10/2013,NaN,"8,281,464",49.732,89951.0,NaN,NaN,34107,NaN
10,NaN,798.0,NaN,NaN,170,NaN,NaN,4395691,10/11/2013,NaN,"8,337,961",56.497,90121.0,NaN,NaN,36381,NaN
11,NaN,2855.0,NaN,NaN,180,NaN,NaN,4431171,10/12/2013,NaN,"8,407,802",69.841,90301.0,NaN,NaN,35480,NaN
12,NaN,2208.0,NaN,NaN,221,NaN,NaN,4462672,10/13/2013,NaN,"8,467,357",59.556,90522.0,NaN,NaN,31501,NaN
13,NaN,1291.0,NaN,NaN,248,NaN,NaN,4498858,10/14/2013,NaN,"8,527,618",60.261,90770.0,NaN,NaN,36186,NaN
14,NaN,934.0,NaN,NaN,207,NaN,NaN,4540317,10/15/2013,NaN,"8,594,243",66.625,90977.0,NaN,NaN,41459,NaN
15,NaN,789.0,NaN,NaN,194,NaN,NaN,4580961,10/16/2013,NaN,"8,658,358",64.115,91171.0,NaN,NaN,40644,NaN
16,NaN,815.0,NaN,NaN,172,NaN,NaN,4621324,10/17/2013,NaN,"8,722,285",63.927,91343.0,NaN,NaN,40363,NaN
17,NaN,1267.0,NaN,NaN,208,NaN,NaN,4663099,10/18/2013,NaN,"8,791,450",69.165,91551.0,NaN,NaN,41775,NaN
18,NaN,2146.0,NaN,NaN,108,NaN,NaN,4695568,10/19/2013,NaN,"8,850,973",59.523,91659.0,NaN,NaN,32469,NaN
19,NaN,2114.0,NaN,NaN,156,NaN,NaN,4727584,10/20/2013,NaN,"8,911,643",60.670,91815.0,NaN,NaN,32016,NaN
20,NaN,849.0,NaN,NaN,214,NaN,NaN,4765932,10/21/2013,NaN,"8,973,859",62.216,92029.0,NaN,NaN,38348,NaN
21,NaN,636.0,NaN,NaN,184,NaN,NaN,4805673,10/22/2013,NaN,"9,034,282",60.424,92213.0,NaN,NaN,39741,NaN
22,NaN,355.0,NaN,NaN,111,NaN,NaN,4841031,10/23/2013,NaN,"9,084,602",50.319,92324.0,NaN,NaN,35358,NaN
23,NaN,444.0,NaN,NaN,86,NaN,NaN,4876269,10/24/2013,NaN,"9,135,212",50.610,92410.0,NaN,NaN,35238,NaN
24,NaN,592.0,NaN,NaN,95,NaN,NaN,4909980,10/25/2013,NaN,"9,185,320",50.109,92505.0,NaN,NaN,33711,NaN
25,NaN,1387.0,NaN,NaN,93,NaN,NaN,4936633,10/26/2013,NaN,"9,230,693",45.372,92598.0,NaN,NaN,26653,NaN
26,NaN,1362.0,NaN,NaN,100,NaN,NaN,4962613,10/27/2013,NaN,"9,275,108",44.415,92698.0,NaN,NaN,25980,NaN
27,NaN,530.0,NaN,NaN,146,NaN,NaN,4996911,10/28/2013,NaN,"9,327,752",52.643,92844.0,NaN,NaN,34298,NaN
28,NaN,450.0,NaN,NaN,100,NaN,NaN,5033191,10/29/2013,NaN,"9,381,516",53.765,92944.0,NaN,NaN,36280,NaN
29,NaN,453.0,NaN,NaN,91,NaN,NaN,5071008,10/30/2013,NaN,"9,436,457",54.940,93035.0,NaN,NaN,37817,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2337,475,NaN,9.0,NaN,NaN,NaN,NaN,NaN,5/12/19,NaN,NaN,15759.000,NaN,310063.0,NaN,10730,131.0
2338,553,NaN,19.0,NaN,NaN,NaN,NaN,NaN,5/13/19,NaN,NaN,29434.000,NaN,310141.0,NaN,22300,132.0
2339,1301,NaN,73.0,NaN,NaN,NaN,NaN,NaN,5/14/19,NaN,NaN,61756.000,NaN,310248.0,NaN,42783,133.0
2340,4484,NaN,140.0,NaN,NaN,NaN,NaN,NaN,5/15/19,NaN,NaN,129217.000,NaN,310395.0,NaN,74314,134.0
2341,5354,NaN,174.0,NaN,NaN,NaN,NaN,NaN,5/16/19,NaN,NaN,139278.000,NaN,310590.0,NaN,77889,135.0
2342,5124,NaN,167.0,NaN,NaN,NaN,NaN,NaN,5/17/19,NaN,NaN,126992.000,NaN,310760.0,NaN,72118,136.0
2343,11292,NaN,227.0,NaN,NaN,NaN,NaN,NaN,5/18/19,NaN,NaN,162302.000,NaN,310992.0,NaN,73143,137.0
2344,10321,NaN,193.0,NaN,NaN,NaN,NaN,NaN,5/19/19,NaN,NaN,154638.000,NaN,311245.0,NaN,69920,138.0
2345,5225,NaN,173.0,NaN,NaN,NaN,NaN,NaN,5/20/19,NaN,NaN,133696.000,NaN,311495.0,NaN,74494,139.0
2346,5088,NaN,160.0,NaN,NaN,NaN,NaN,NaN,5/21/19,NaN,NaN,139284.000,NaN,311686.0,NaN,79261,140.0
2347,5431,NaN,153.0,NaN,NaN,NaN,NaN,NaN,5/22/19,NaN,NaN,144186.000,NaN,311888.0,NaN,82021,141.0
2348,3527,NaN,121.0,NaN,NaN,NaN,NaN,NaN,5/23/19,NaN,NaN,93244.000,NaN,312082.0,NaN,56578,142.0
2349,7322,NaN,245.0,NaN,NaN,NaN,NaN,NaN,5/24/19,NaN,NaN,141169.000,NaN,312276.0,NaN,74866,143.0
2350,10682,NaN,279.0,NaN,NaN,NaN,NaN,NaN,5/25/19,NaN,NaN,136772.000,NaN,312484.0,NaN,59492,144.0
2351,9325,NaN,145.0,NaN,NaN,NaN,NaN,NaN,5/26/19,NaN,NaN,118192.000,NaN,312648.0,NaN,49950,145.0
2352,12124,NaN,136.0,NaN,NaN,NaN,NaN,NaN,5/27/19,NaN,NaN,160750.000,NaN,312896.0,NaN,66595,146.0
2353,2992,NaN,96.0,NaN,NaN,NaN,NaN,NaN,5/28/19,NaN,NaN,97330.000,NaN,313092.0,NaN,59435,147.0
2354,2952,NaN,111.0,NaN,NaN,NaN,NaN,NaN,5/29/19,NaN,NaN,87647.000,NaN,313251.0,NaN,55098,148.0
2355,2831,NaN,129.0,NaN,NaN,NaN,NaN,NaN,5/30/19,NaN,NaN,84325.000,NaN,313402.0,NaN,52484,149.0
2356,7586,NaN,261.0,NaN,NaN,NaN,NaN,NaN,5/31/19,NaN,NaN,156832.000,NaN,313606.0,NaN,83347,150.0
2357,12153,NaN,214.0,NaN,NaN,NaN,NaN,NaN,6/1/19,NaN,NaN,164956.000,NaN,313815.0,NaN,76416,151.0
2358,10419,NaN,144.0,NaN,NaN,NaN,NaN,NaN,6/2/19,NaN,NaN,147247.000,NaN,314051.0,NaN,67288,152.0
2359,6027,NaN,152.0,NaN,NaN,NaN,NaN,NaN,6/3/19,NaN,NaN,141960.000,NaN,314327.0,NaN,77678,153.0
2360,6422,NaN,168.0,NaN,NaN,NaN,NaN,NaN,6/4/19,NaN,NaN,150076.000,NaN,314642.0,NaN,83301,154.0
2361,5166,NaN,143.0,NaN,NaN,NaN,NaN,NaN,6/5/19,NaN,NaN,134998.000,NaN,314889.0,NaN,78791,155.0
2362,6138,NaN,183.0,NaN,NaN,NaN,NaN,NaN,6/6/19,NaN,NaN,143619.000,NaN,315121.0,NaN,81323,156.0
2363,7530,NaN,256.0,NaN,NaN,NaN,NaN,NaN,6/7/19,NaN,NaN,150312.000,NaN,315337.0,NaN,82908,157.0
2364,13831,NaN,206.0,NaN,NaN,NaN,NaN,NaN,6/8/19,NaN,NaN,175352.000,NaN,315583.0,NaN,78074,158.0
2365,12833,NaN,121.0,NaN,NaN,NaN,NaN,NaN,6/9/19,NaN,NaN,167597.000,NaN,315861.0,NaN,73954,159.0
2366,1566,NaN,44.0,NaN,NaN,NaN,NaN,NaN,6/10/19,NaN,NaN,54769.000,NaN,316007.0,NaN,37019,160.0

In [8]:
# print(df_riderData.columns)
print(df_riderData.dtypes)

24-Hour Passes Purchased (midnight to 11:59 pm)                                                    object
24-Hour Passes Purchased (midnight to 11:59 pm)\t7-Day Passes Purchased (midnight to 11:59 pm)    float64
3-Day Passes Purchased (midnight to 11:59 pm)                                                     float64
7-Day Passes Purchased (midnight to 11:59 pm)                                                      object
Annual Member Sign-Ups (midnight to 11:59 pm)                                                      object
Column 1                                                                                           object
Cumulative trips (since launch)                                                                   float64
Cumulative trips (since launch):                                                                   object
Date                                                                                               object
Miles traveled to date                                                                            float64
Miles traveled to date:                                                                            object
Miles traveled today (midnight to 11:59 pm)                                                       float64
Total Annual Members                                                                              float64
Total Annual Members (All Time)                                                                   float64
Total Annual Memberships Sold                                                                     float64
Trips over the past 24-hours (midnight to 11:59pm)                                                  int64
Unnamed: 0                                                                                        float64
dtype: object

### Column name changed Over the years so merging data and deleting one of the column

In [9]:
df_riderData['24-Hour Passes Purchased (midnight to 11:59 pm)']=df_riderData['24-Hour Passes Purchased (midnight to 11:59 pm)'].combine_first(df_riderData['24-Hour Passes Purchased (midnight to 11:59 pm)\t7-Day Passes Purchased (midnight to 11:59 pm)'])
df_riderData

,24-Hour Passes Purchased (midnight to 11:59 pm),24-Hour Passes Purchased (midnight to 11:59 pm) 7-Day Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),7-Day Passes Purchased (midnight to 11:59 pm),Annual Member Sign-Ups (midnight to 11:59 pm),Column 1,Cumulative trips (since launch),Cumulative trips (since launch):,Date,Miles traveled to date,Miles traveled to date:,Miles traveled today (midnight to 11:59 pm),Total Annual Members,Total Annual Members (All Time),Total Annual Memberships Sold,Trips over the past 24-hours (midnight to 11:59pm),Unnamed: 0
0,1004,1004.0,NaN,NaN,258,NaN,NaN,4013952,10/1/2013,NaN,"7,713,294",73.665,85494.0,NaN,NaN,44772,NaN
1,1129,1129.0,NaN,NaN,279,NaN,NaN,4059619,10/2/2013,NaN,"7,789,442",76.149,85773.0,NaN,NaN,45667,NaN
2,1076,1076.0,NaN,NaN,560,NaN,NaN,4104091,10/3/2013,NaN,"7,862,077",72.635,86333.0,NaN,NaN,44472,NaN
3,1434,1434.0,NaN,NaN,779,NaN,NaN,4148180,10/4/2013,NaN,"7,936,300",74.223,87112.0,NaN,NaN,44089,NaN
4,2971,2971.0,NaN,NaN,750,NaN,NaN,4185863,10/5/2013,NaN,"8,010,192",73.892,87862.0,NaN,NaN,37683,NaN
5,1368,1368.0,NaN,NaN,742,NaN,NaN,4214892,10/6/2013,NaN,"8,060,079",49.887,88604.0,NaN,NaN,29029,NaN
6,421,421.0,NaN,NaN,585,NaN,NaN,4242396,10/7/2013,NaN,"8,100,403",40.324,89189.0,NaN,NaN,27504,NaN
7,896,896.0,NaN,NaN,332,NaN,NaN,4284596,10/8/2013,NaN,"8,169,518",69.116,89521.0,NaN,NaN,42200,NaN
8,714,714.0,NaN,NaN,248,NaN,NaN,4325203,10/9/2013,NaN,"8,231,732",62.214,89769.0,NaN,NaN,40607,NaN
9,482,482.0,NaN,NaN,182,NaN,NaN,4359310,10/10/2013,NaN,"8,281,464",49.732,89951.0,NaN,NaN,34107,NaN
10,798,798.0,NaN,NaN,170,NaN,NaN,4395691,10/11/2013,NaN,"8,337,961",56.497,90121.0,NaN,NaN,36381,NaN
11,2855,2855.0,NaN,NaN,180,NaN,NaN,4431171,10/12/2013,NaN,"8,407,802",69.841,90301.0,NaN,NaN,35480,NaN
12,2208,2208.0,NaN,NaN,221,NaN,NaN,4462672,10/13/2013,NaN,"8,467,357",59.556,90522.0,NaN,NaN,31501,NaN
13,1291,1291.0,NaN,NaN,248,NaN,NaN,4498858,10/14/2013,NaN,"8,527,618",60.261,90770.0,NaN,NaN,36186,NaN
14,934,934.0,NaN,NaN,207,NaN,NaN,4540317,10/15/2013,NaN,"8,594,243",66.625,90977.0,NaN,NaN,41459,NaN
15,789,789.0,NaN,NaN,194,NaN,NaN,4580961,10/16/2013,NaN,"8,658,358",64.115,91171.0,NaN,NaN,40644,NaN
16,815,815.0,NaN,NaN,172,NaN,NaN,4621324,10/17/2013,NaN,"8,722,285",63.927,91343.0,NaN,NaN,40363,NaN
17,1267,1267.0,NaN,NaN,208,NaN,NaN,4663099,10/18/2013,NaN,"8,791,450",69.165,91551.0,NaN,NaN,41775,NaN
18,2146,2146.0,NaN,NaN,108,NaN,NaN,4695568,10/19/2013,NaN,"8,850,973",59.523,91659.0,NaN,NaN,32469,NaN
19,2114,2114.0,NaN,NaN,156,NaN,NaN,4727584,10/20/2013,NaN,"8,911,643",60.670,91815.0,NaN,NaN,32016,NaN
20,849,849.0,NaN,NaN,214,NaN,NaN,4765932,10/21/2013,NaN,"8,973,859",62.216,92029.0,NaN,NaN,38348,NaN
21,636,636.0,NaN,NaN,184,NaN,NaN,4805673,10/22/2013,NaN,"9,034,282",60.424,92213.0,NaN,NaN,39741,NaN
22,355,355.0,NaN,NaN,111,NaN,NaN,4841031,10/23/2013,NaN,"9,084,602",50.319,92324.0,NaN,NaN,35358,NaN
23,444,444.0,NaN,NaN,86,NaN,NaN,4876269,10/24/2013,NaN,"9,135,212",50.610,92410.0,NaN,NaN,35238,NaN
24,592,592.0,NaN,NaN,95,NaN,NaN,4909980,10/25/2013,NaN,"9,185,320",50.109,92505.0,NaN,NaN,33711,NaN
25,1387,1387.0,NaN,NaN,93,NaN,NaN,4936633,10/26/2013,NaN,"9,230,693",45.372,92598.0,NaN,NaN,26653,NaN
26,1362,1362.0,NaN,NaN,100,NaN,NaN,4962613,10/27/2013,NaN,"9,275,108",44.415,92698.0,NaN,NaN,25980,NaN
27,530,530.0,NaN,NaN,146,NaN,NaN,4996911,10/28/2013,NaN,"9,327,752",52.643,92844.0,NaN,NaN,34298,NaN
28,450,450.0,NaN,NaN,100,NaN,NaN,5033191,10/29/2013,NaN,"9,381,516",53.765,92944.0,NaN,NaN,36280,NaN
29,453,453.0,NaN,NaN,91,NaN,NaN,5071008,10/30/2013,NaN,"9,436,457",54.940,93035.0,NaN,NaN,37817,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2337,475,NaN,9.0,NaN,NaN,NaN,NaN,NaN,5/12/19,NaN,NaN,15759.000,NaN,310063.0,NaN,10730,131.0
2338,553,NaN,19.0,NaN,NaN,NaN,NaN,NaN,5/13/19,NaN,NaN,29434.000,NaN,310141.0,NaN,22300,132.0
2339,1301,NaN,73.0,NaN,NaN,NaN,NaN,NaN,5/14/19,NaN,NaN,61756.000,NaN,310248.0,NaN,42783,133.0
2340,4484,NaN,140.0,NaN,NaN,NaN,NaN,NaN,5/15/19,NaN,NaN,129217.000,NaN,310395.0,NaN,74314,134.0
2341,5354,NaN,174.0,NaN,NaN,NaN,NaN,NaN,5/16/19,NaN,NaN,139278.000,NaN,310590.0,NaN,77889,135.0
2342,5124,NaN,167.0,NaN,NaN,NaN,NaN,NaN,5/17/19,NaN,NaN,126992.000,NaN,310760.0,NaN,72118,136.0
2343,11292,NaN,227.0,NaN,NaN,NaN,NaN,NaN,5/18/19,NaN,NaN,162302.000,NaN,310992.0,NaN,73143,137.0
2344,10321,NaN,193.0,NaN,NaN,NaN,NaN,NaN,5/19/19,NaN,NaN,154638.000,NaN,311245.0,NaN,69920,138.0
2345,5225,NaN,173.0,NaN,NaN,NaN,NaN,NaN,5/20/19,NaN,NaN,133696.000,NaN,311495.0,NaN,74494,139.0
2346,5088,NaN,160.0,NaN,NaN,NaN,NaN,NaN,5/21/19,NaN,NaN,139284.000,NaN,311686.0,NaN,79261,140.0
2347,5431,NaN,153.0,NaN,NaN,NaN,NaN,NaN,5/22/19,NaN,NaN,144186.000,NaN,311888.0,NaN,82021,141.0
2348,3527,NaN,121.0,NaN,NaN,NaN,NaN,NaN,5/23/19,NaN,NaN,93244.000,NaN,312082.0,NaN,56578,142.0
2349,7322,NaN,245.0,NaN,NaN,NaN,NaN,NaN,5/24/19,NaN,NaN,141169.000,NaN,312276.0,NaN,74866,143.0
2350,10682,NaN,279.0,NaN,NaN,NaN,NaN,NaN,5/25/19,NaN,NaN,136772.000,NaN,312484.0,NaN,59492,144.0
2351,9325,NaN,145.0,NaN,NaN,NaN,NaN,NaN,5/26/19,NaN,NaN,118192.000,NaN,312648.0,NaN,49950,145.0
2352,12124,NaN,136.0,NaN,NaN,NaN,NaN,NaN,5/27/19,NaN,NaN,160750.000,NaN,312896.0,NaN,66595,146.0
2353,2992,NaN,96.0,NaN,NaN,NaN,NaN,NaN,5/28/19,NaN,NaN,97330.000,NaN,313092.0,NaN,59435,147.0
2354,2952,NaN,111.0,NaN,NaN,NaN,NaN,NaN,5/29/19,NaN,NaN,87647.000,NaN,313251.0,NaN,55098,148.0
2355,2831,NaN,129.0,NaN,NaN,NaN,NaN,NaN,5/30/19,NaN,NaN,84325.000,NaN,313402.0,NaN,52484,149.0
2356,7586,NaN,261.0,NaN,NaN,NaN,NaN,NaN,5/31/19,NaN,NaN,156832.000,NaN,313606.0,NaN,83347,150.0
2357,12153,NaN,214.0,NaN,NaN,NaN,NaN,NaN,6/1/19,NaN,NaN,164956.000,NaN,313815.0,NaN,76416,151.0
2358,10419,NaN,144.0,NaN,NaN,NaN,NaN,NaN,6/2/19,NaN,NaN,147247.000,NaN,314051.0,NaN,67288,152.0
2359,6027,NaN,152.0,NaN,NaN,NaN,NaN,NaN,6/3/19,NaN,NaN,141960.000,NaN,314327.0,NaN,77678,153.0
2360,6422,NaN,168.0,NaN,NaN,NaN,NaN,NaN,6/4/19,NaN,NaN,150076.000,NaN,314642.0,NaN,83301,154.0
2361,5166,NaN,143.0,NaN,NaN,NaN,NaN,NaN,6/5/19,NaN,NaN,134998.000,NaN,314889.0,NaN,78791,155.0
2362,6138,NaN,183.0,NaN,NaN,NaN,NaN,NaN,6/6/19,NaN,NaN,143619.000,NaN,315121.0,NaN,81323,156.0
2363,7530,NaN,256.0,NaN,NaN,NaN,NaN,NaN,6/7/19,NaN,NaN,150312.000,NaN,315337.0,NaN,82908,157.0
2364,13831,NaN,206.0,NaN,NaN,NaN,NaN,NaN,6/8/19,NaN,NaN,175352.000,NaN,315583.0,NaN,78074,158.0
2365,12833,NaN,121.0,NaN,NaN,NaN,NaN,NaN,6/9/19,NaN,NaN,167597.000,NaN,315861.0,NaN,73954,159.0
2366,1566,NaN,44.0,NaN,NaN,NaN,NaN,NaN,6/10/19,NaN,NaN,54769.000,NaN,316007.0,NaN,37019,160.0

In [10]:
df_riderData['Cumulative trips (since launch)']=df_riderData['Cumulative trips (since launch)'].combine_first\
                                        (df_riderData['Cumulative trips (since launch):'])
# df_riderData

In [11]:
df_riderData['Cumulative trips (since launch)']=df_riderData['Cumulative trips (since launch)'].combine_first\
                                        (df_riderData['Cumulative trips (since launch):'])

In [12]:
df_riderData['Miles traveled to date']=df_riderData['Miles traveled to date'].combine_first(df_riderData['Miles traveled to date:'])

In [13]:
df_riderData['Total Annual Members']=df_riderData['Total Annual Members'].combine_first(df_riderData['Total Annual Members (All Time)'])

In [14]:
df_riderData.drop(columns=["Column 1",\
                           "24-Hour Passes Purchased (midnight to 11:59 pm)\t7-Day Passes Purchased (midnight to 11:59 pm)",\
                           "Cumulative trips (since launch):",\
                          "Miles traveled to date:",\
                          "Total Annual Members (All Time)"],inplace=True)

In [15]:
df_riderData.drop(columns=["Total Annual Memberships Sold"],inplace=True)

In [16]:
df_riderData.shape

(2367, 11)

In [17]:
df_riderData.to_csv("RidershipdataLaunch-2019q2/memberdata.csv")